* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #3498db);
  display: flex;
  justify-content:center;
  align-items:center;
  perspective: 1000px;
}
header {
    background: #0073e6;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items:top;
    padding-left: 30px;
    padding-right: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
   color: #0077b6;
}

.scene {
  width: 320px;
  height: 400px;
  position: relative;
  perspective: 1200px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  padding: 40px 20px;
  text-align: center;
} 
.card-face h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.card-face.front .login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.card-face.front .login-form input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
} 
.card-face.front .login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #3498db;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
} 

/* .card-face.front .login-form button:hover {
  background: #2980b9; 
}  */

/* .card-face.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3498db;
  font-size: 1.2rem;
  padding: 30px;
}  */ 