* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

    body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background: #f0f4f8;
      color: #333;
    }

   header {
      background-color: #003366;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;
    }

    nav a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #ffc107;
    }

    main {
      max-width: 1000px;
      margin: 30px auto;
      padding: 20px;
      background: white;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

     h2 {
      text-align: center;
      color: #004aad;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr auto;
      gap: 10px;
      margin-bottom: 20px;
      align-items: end;
    }

    form input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    form button {
      padding: 10px 15px;
      background-color: #0073e6;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    form button:hover {
      background-color: #00aab6;
    }

    .tools {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-wrap: wrap;
      gap: 10px;
    }

    .tools input {
      flex: 1;
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #aaa;
    }

    .tools button {
      padding: 8px 14px;
      background: #333;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .tools button:hover {
      background: #222;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color:white;
      color: white;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    .delete-btn {
      padding: 6px 10px;
      background: crimson;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .delete-btn:hover {
      background: darkred;
    }

    footer {
      background-color: #1565c0;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 14px;
      margin-top: 310px;
      width: 100%;

    }

    @media (max-width: 768px) {
      form {
        grid-template-columns: 1fr;
      }

      .tools {
        flex-direction: column;
      }
    }
