<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Placement Tracker - Login</title>
  <link rel="stylesheet" href="../static/login.css">
  </head>
     <header>
        <div class="logo">PlacementTracker</div>
      <nav>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('student_profile') }}">Student Management</a></li>
    <li><a href="{{ url_for('login') }}">Admin</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>

  </ul>
</nav>

    </header>

    <center>
  <div class="login-container">
    <h2 class="title">Placement Tracker Login</h2>
    <form class="login-form" action='/admin' method="post">
     <input type="text" name="username" placeholder="Username" required />
<input type="password" name="password" placeholder="Password" required />

      <button type="submit"  >Login</button>
    </form>
  </div>
  </center>

    <footer>
    &copy; 2025 Placement Tracker System. All rights reserved.
  </footer>

</body>
</html>